name: Build and Test

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:latest
        ports:
          - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: rootpassword
          MYSQL_DATABASE: sampledb
          MYSQL_USER: sampleuser
          MYSQL_PASSWORD: samplepassword
          MYSQL_INITDB_SKIP_TZINFO: 1

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: MySQL Logs
        run: docker logs $(docker ps -q --filter "ancestor=mysql")

      - name: Wait for MySQL to be ready
        run: |
          for i in {1..120}; do
            if mysqladmin ping -h mysql -P 3306 -u sampleuser -p"samplepassword" --silent; then
              echo "MySQL is ready!"
              break
            fi
            echo "Waiting for MySQL to be ready..."
            sleep 5  # Adjusted waiting time
          done

      - name: Build with Gradle
        run: ./gradlew build

      - name: Run JaCoCo Test Report
        run: ./gradlew jacocoTestReport

      - name: Run Skeleton Batch
        run: ./gradlew skeletonBatch:bootRun

      - name: Run dbAndCsvBatch (DB to CSV)
        run: ./gradlew dbAndCsvBatch:bootRun --args="--spring.profiles.active=local --spring.batch.job.name=DB_TO_CSV"

      - name: Run dbAndCsvBatch (CSV to DB)
        run: ./gradlew dbAndCsvBatch:bootRun --args="--spring.profiles.active=local --spring.batch.job.name=CSV_TO_DB"
