<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <appender name="batch_file" class="ch.qos.logback.core.FileAppender">
    <append>false</append>
    <file>batch.log</file>
    <encoder>
      <pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.springframework" level="info"/>
  <logger name="org.springframework.jdbc.core.JdbcTemplate" level="info"/>
  <logger name="org.springframework.security" level="info"/>
  <Logger name="org.jooq.tools.LoggerListener" level="debug" />
  <Logger name="org.jooq" level="info" />

  <root level="info">
    <appender-ref ref="stdout" />
    <appender-ref ref="batch_file" />
  </root>
</configuration>
